#game-stat {
    width: 100%;
    height: 80px;
    margin-bottom: 20px;
}

#game-stat {
    font-size: 30px;
}

#game-stat > div {
    display: inline-block;
    vertical-align: middle;
    line-height: 80px;
}

#game-stat #owner,
#game-stat #opponent {
    width: 20%;
}

#game-stat #opponent {
    width: 19%;
}

#game-stat #owner {
    text-align: left;
}

#game-stat #opponent {
    text-align: right;
}

#game-stat #current-state {
    width: 60%;
    text-align: center;
}

#field table {
    margin: auto;
    border-collapse: collapse;
    border: 0;
}

#field table td {
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 85px;
    border: 4px solid orange;
}

#footer-panel {
    width: 100%;
    height: 80px;
    text-align: center;
    line-height: 80px;
}

#footer-panel #game-time-duration {
    font-size: 25px;
    color: grey;
} 

#action-btn {
    margin: auto;
}

.player-sign img {
    width: 50px;
    height: 50px;
}