body {
    color: grey;
    font-family: "Open Sans", sans-serif;
}

form {
    width: 300px;
    text-align: center;
    margin: auto;
}

form > input {
    width: 200px;
    height: 40px;
    margin-top: 10px;
    padding: 2px;
}

form input:first-child {
    margin-top: 0;
}

.btn {
    width: 120px;
    height: 40px;
    background-color: darkcyan;
    color: white;
    text-align: center;
    line-height: 40px;
}

form > input[type=button] {
    line-height: 0;
}

.form-wrapper {
    margin-top: 60px;
}